configuration {
	modi: "combi,run";
	font: "Hack Nerd Font 12";
	combi-modi: "run,drun,ssh";
}


@theme "~/.cache/wal/colors-rofi-dark.rasi"

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}
