* {
	font-size: 12px;
	font-family: monospace;
}

window.eDP-1 * {
    font-size: 16px;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#mpd,
#tray,
#custom-weather,
#idle_inhibitor {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #268bd2;
}
#workspaces button.focused {
	color: #fdf6e3;
}
#workspaces button.urgent {
	color: red;
}
#workspaces button.visible{
	color: white;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#mode {
    background: red;
}

#pulseaudio.mic.source-muted, #pulseaudio:not(.mic).muted, #mpd.paused {
    color: red;
}
#mpd.stopped {
    color: #777777;
}
#battery {
	color: #33DD33;
}
#battery.good {
	color: yellow;
}
#battery.warning, #disk.warning, #memory.warning, #cpu.warning {
	color: orange;
}
#battery.critical, #disk.critical, #memory.critical, #cpu.critical {
	color: red;
}
#battery.charging {
	color: white;
}
#tray {
    padding: 4px 8px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#mode,
#network,
#mpd,
#disk,
#custom-weather,
#idle_inhibitor {
	padding: 0 8px;
}

