@import "colors-matugen.css";

* {
  margin: 0;
  padding: 0;
  min-height: 0px;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-family: monospace;
}

window.eDP-1 * {
  font-size: 14px;
}

window#waybar {
  background: transparent;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#mpd,
#tray,
#mode,
#custom-weather,
#idle_inhibitor,
#workspaces button {
  background: @surface_container;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#mode,
#network,
#mpd,
#disk,
#custom-weather,
#idle_inhibitor,
#tray {
  padding: 0.5rem 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 1rem;
}

#workspaces {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 1rem;
}

#workspaces button {
  padding: 0 1rem;
  border-radius: 1rem;
  color: @tertiary;
}
#workspaces button.focused, #workspaces button.visible {
  background: @primary;
  color: @on_primary;
}
#workspaces button.urgent {
  color: @error_container;
}
#workspaces button:hover {
  background-color: @surface_container_highest;
  color: @primary;
}
#workspaces button.empty {
  color: @outline_variant;
}

#mode {
  background: @error_container;
}

#pulseaudio.mic.source-muted,
#pulseaudio:not(.mic).muted,
#mpd.paused {
  color: @error_container;
}
#mpd.stopped {
  color: @outline_variant;
}
#battery {
  color: @success_container;
}
#battery.good {
  color: @error;
}
#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning {
  color: @error;
}
#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical {
  color: @error_container;
}
#battery.charging {
  color: @on_primary;
}
